@font-face {
    font-family: canopee;
    src:url(/github/canopee.ttf);
}
*{
    padding:0;
    margin:0;

}

body{
    height:100%;
    width:100%;
    background-color: azure;
    align-items: center;
    justify-content: center;
}

.main{
    height:100%;
    width: 100%;
    background-image: "/github/4.webp";
    align-items: center;
    justify-content: center;
}

h1{
    font-family: canopee;
    font-size: 6vw;
    font-weight: 300;
    color:black;
    text-align: center;
}